{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" id="c1" align="center">
      <div class="card border-success" style="width: 18rem;">
        <div id="c2" class="container text-center">
          <img src="{% static 'images/nit.png' %}" alt="">
          <form class="form-group" method="post">
            <div class="form-group">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                    <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.label }}" type="{{ field.html_name }}" />
                  {% if field.error %}
                    <label for="">Username or password does not match.</label>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" name="button">Login</button>
            </div>
          </form>
        </div>
        <div class="card-footer bg-success border-success"> <a href="{% url 'reset' %}" class="text-light">Forgot Password?</a> </div>
      </div>
    </div>
  {% endblock %}
