<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="{% static 'images/nit.png' %}">
    <style media="screen">
      #c1{
        padding-top: 110px;
      }
      #c2{
        margin-top: 20px;
      }
      img{
        padding-bottom: 7px;
      }
      canvas{
        display: block;
        vertical-align: bottom;
      }
      #particles-js{
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          position: fixed;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div class="" id="particles-js"></div>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% block content %}
    {% endblock %}
  </body>
</html>
