{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/nit.png' %}" width="30" height="40" class="d-inline-block align-top" alt="">
    National Institute Of Technology, Jamshedpur
  </a>
</nav>
<div class="container" style="padding-top: 50px;">
  <div class="card bg-transparent" style="width: 100%;">
    <h1 class="text-light">Welcome to NIT Jamshedpur Student Portal</h1>
  </div>
</div>
{% endblock %}
