<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <style>
      canvas {
        display: block;
        vertical-align: bottom;
      }

      #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      #log {
      	position: absolute;
      	top: 50%;
      	right: 50%;
      	transform: translate(50%,-50%);
      	max-width: 90%;
      	padding: 2em 3em;
        padding-top: 80px;
      }
      #inputf{
        width: 300px;
      }

      #eml{
        width: 300px;
      }
    </style>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <body>
    <div class="" id="particles-js">

    </div>

    <script type="text/javascript" src="{% static "js/particles.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>

    <div class="container" id="log">
      <table align="center">
        <tr align="center">
          <td>  <a href="{% url 'home' %}"><img src="{% static "images/nit.png" %}"  alt="nitjsr logo"></a></td>
        </tr>
        <tr>
          <td>
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <label for="loginid">Login ID:</label>
                <input id="inputf" class="form-control" type="text" od="loginid" name="" value="">
              </div>
              <div class="form-group">
                <label for="em">Email ID:</label>
                <input class="form-control" type="email" id="eml" name="" value="">
              </div>
              <tr>
                <td align="center">
                  <button type="submit" class="btn btn-primary">Reset Password</button>
                </td>
              </tr>

            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
