{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-light bg-transparent">
  <a class="navbar-brand text-light">
    <img src="{% static 'images/image.png' %}" width="30" height="40" class="d-inline-block align-top" alt="">
    National Institute Of Technology, Jamshedpur
  </a>
  {% if user.is_authenticated %}
    <form class="form-inline">
      <a class="nav-item nav-link mr-sm-2" href="#">{{ user.username }} </a>
      <a class="nav-item nav-link mr-sm-2" href="{% url 'logout' %}"> <button type="button" class="btn btn-danger bg-transparent text-danger" name="button">Logout</button> </a>
    </form>
  {% else %}
  <form class="form-inline">
    <a class="nav-item nav-link mr-sm-2" href="{% url 'signup' %}"> <button type="button" class="btn btn-primary bg-transparent text-primary" name="button">SignUp</button> </a>
    <a class="nav-item nav-link mr-sm-0" href="{% url 'login' %}"> <button type="button" class="btn btn-success bg-transparent text-success" name="button">Login</button> </a>
  </form>
  {% endif %}
</nav>

<div class="container" style="padding-top: 50px;">
  <div class="card bg-transparent" style="width: 100%;">
    <h1 class="text-light">Welcome to NIT Jamshedpur Student Portal</h1>
  </div>
</div>
{% endblock %}
