{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" id="c1" align="center">
      <div class="card border-light bg-transparent" style="width: 100%;">
        {% if user.is_authenticated %}

          <h1 class="text-light">Hello {{ user.username }}</h1>
          <a href="{% url 'logout' %}"><button type="button" Class="btn btn-danger" name="button">Logout</button></a>

        {% else %}

          <h1 class="text-danger">You are not logged in!</h1>
          <a href="{% url 'login' %}"><button type="button" style="margin-bottom: 7px;" class="btn btn-success" name="button">Login</button></a>

        {% endif %}
      </div>
    </div>
{% endblock %}
