{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container" id="c1">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <h1 align="center" class="text-white">Welcome {{ user.username }}</h1>
          </td>
          <td align="right">
            <a href="{% url 'logout' %}">  <button type="submit" class="btn btn-danger" name="button">Logout</button></a>
          </td>
        </tr>
      </table>
    </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}
