<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <body>
    <div class="" id="particles-js">

    </div>

    <script type="text/javascript" src="{% static "js/particles.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>

    <div class="container" id="log">
      <table align="center">
        <tr align="center">
          <td>  <img src="{% static "images/nit.png" %}" alt="nitjsr logo"></td>
        </tr>
        <tr>
          <td>
            <form class="" action="" method="post">
              <div class="form-group">
                <label for="loginid">Login ID:</label>
                <input id="inputf" class="form-control" type="text" od="loginid" name="" value="">
              </div>
              <div class="form-group">
                <label for="pswd">Password:</label>
                <input class="form-control" type="password" id="pswd" name="" value="">
              </div>
              <tr>
                <td align="center">
                  <a href="{% url 'studentPort' %}"><button type="button" class="btn btn-primary">Log In</button></a>
                  <a href="{% url 'reset' %}">Forgot Password?</a>
                </td>
              </tr>

            </form>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
